nav{
    background-color: rgb(110, 168, 168);
    width:auto ;
    height: 5%;
    display: flex;
    gap: 50px;
}
.nav2{
    display: flex;
    text-align: right;

}

.Assessment{
    justify-content: center;
    display: inline;
}

.purple{
    background-color: purple;
    width: 350px;
    height: 100px;
}

.card{
    border: 2px solid black;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin: 50px 10px 10px;
}

.blue{
 background-color:rgb(46, 126, 186);
    width: 350px;
    height: 100px;
}

.card1{
    border: 2px solid black;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin: 50px 10px 10px;
}
.green{
    background-color: rgb(149, 205, 65);
    width: 350px;
    height: 100px; 
}
.card2{
    border: 2px solid black;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin: 50px 10px 10px;
}

.orange{
    background-color:rgb(255, 119, 0);
    width: 350px;
    height: 100px; 
}
.card3{
    border: 2px solid black;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin: 50px 10px 10px;
}
.big-div{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    cursor: pointer;
    margin: auto;
}



.orange{
    background-color:rgb(255, 119, 0) ;
    width: 350px;
    height: 100px; 
}

.card4{
    border: 2px solid black;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin: 50px 10px 10px;
}


.purple{
    background-color: purple;
    width: 350px;
    height: 100px; 
}

.card5{
    border: 2px solid black;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin: 50px 10px 10px;
}

.blue{
    background-color: rgb(46, 126, 186);
    width: 350px;
    height: 100px; 
}

.card6{
    border: 2px solid black;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin: 50px 10px 10px;
}


.green{
    background-color: rgb(149, 205, 65);
    width: 350px;
    height: 100px; 
}

.card7{
    border: 2px solid black;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin: 50px 10px 10px;
}

.another{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between; 
    cursor: pointer;
    margin: auto;
}